* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.oxanium-custom {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1400;
    font-style: normal;
}

html, body {
    font-family: 'Oxanium', sans-serif;
    color: #000000;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Recouvre toute la page */
    background:#16163f;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1; /* Derrière le contenu */
}

header {
    position: fixed;
    z-index: 20;
    background-color: #343534c7;
    backdrop-filter: blur(10px);
    color: #f0f8ff;
    width: 60%;
    height: 9dvh;
    align-self: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateY(-20px);
    animation: slideIn 1s forwards;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding-left:1%;
    padding-right: 23%;
    /*box-shadow: 3px 1px 15px 5px rgb(49, 49, 49);*/
}

#logo{
    width: 6dvh;
    border-radius: 10px;
}

header h2{
    justify-self: center;
    z-index:11;
}
.shape {
    /*background-color: #5b5d66c7;*/
    background-color: #f0f8ffc7;
    backdrop-filter: blur(10px);
    padding: 1%;
    border-radius: 20px;
    margin: 1%;
    width: 100%;
    box-shadow: 7px 7px 15px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.Experiences {
    height: auto;
    width: 100%;
    margin-top: 10dvh;
    padding : 3dvh;
    transform: translateY(100px);
    animation: slideIn 1s forwards;
    opacity: 0;
    display: flex;
    flex-direction: row-reverse;
}
.bulles{
    display: flex;
    flex-direction: column;
}
.sticky-image {
    width: 35%;
    position: sticky;
    top: 0;
    align-self: flex-start; /* Important pour que sticky fonctionne */
    justify-self:flex-end;
}

.sticky-image img {
    width: 100%;
    margin-top: 10%;

}
.shape p {
    text-indent: 65px;
} 

#ALSH {
    display: flex;
    flex-direction: column;
}

.acquis {
    margin : 2dvh;
}

.shape img {
    border: #16163f;
    border-style: solid; 
    border-radius: 10px;
    aspect-ratio: 16 / 9;
}

#Monaco {
    display: flex;
    flex-direction: column;
}


.competences {
    height: 100dvh;
    width: 100dvh;
    background-color: #16163f;
}





#retour {
    position:fixed;
    bottom: 20px;
    right: 20px;
    width: 30%;
    transition: all 0.7s ease;
    display: flex;
    align-content: center;
    justify-content: center;
}

#retour:hover {
    transform: scale(1.1, 1);
    transition: all 0.7s ease;
    box-shadow: 7px 7px 15px 5px rgba(0, 0, 0, 0.8);
}

footer{
    background-color: rgb(27, 27, 27);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8dvh;
}
footer p{
    color: rgb(240, 248, 255);
}