body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.element {
    width: 80%;
    max-width: 300px;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(100px);
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.image-container {
  position: relative;
  display: inline-block; /* ou block selon ton besoin */
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Voile blanc avec 50% d'opacité */
  pointer-events: none; /* Permet de cliquer à travers le voile */
}
